h1 {
    color: blue;
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    font-style: normal;
    border: 1px black;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 24px;
    background-color:beige;
    color: black;
    border: 0.5px black solid;
}

body {
    background-color: bisque;
}